<div class="mainContent" >
  <p-confirmDialog header="" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
  <div style="height: 6px;">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="!loaded"></p-progressBar>
  </div>

  <div class="ui-g-12"></div>

  <div class="row" [hidden]="!error" *ngIf="errorMessage">  
    <div class="alert alert-danger alert-dismissible">  
      <button type="button" class="close" data-dismiss="alert" (click)="close()">×</button>  
      <strong>{{errorMessage}}</strong>  
    </div>  
  </div>   

  <div class="row" [hidden]="!success" *ngIf="successMessage">  
    <div class="alert alert-success alert-dismissible">  
      <button type="button" class="close" data-dismiss="alert" (click)="close()">×</button>  
      <strong>{{successMessage}}</strong>  
    </div>  
  </div>  

  <div class="sub-topic">Branches</div>
  <div class="ui-g-12">

  </div>
  <div class="ui-g-12" style="padding-left: 10px;">
    <div class="ui-g-2">
      Name <font style="color : red">*</font>
    </div>
    <div class="ui-g-4">
        <input pInputText [(ngModel)]="branch.name" style="width: 90%" minlength=6/>
    </div>

    <div class="ui-g-2">
      Code <font style="color : red">*</font>
    </div>
    <div class="ui-g-4">
        <input pInputText [(ngModel)]="branch.code" style="width: 90%" minlength=6/>
    </div>

    <div class="ui-g-2">
      Address <font style="color : red">*</font>
    </div>
    <div class="ui-g-4">
        <textarea rows="4" cols="40" pInputTextarea [(ngModel)]="branch.address" style="width: 90%" maxlength=300></textarea>
    </div>
  </div>

  <div style="margin-top: 25px; float: left; text-align: right; width: 96%">
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="submit" class="btn-dis" (click)="clear()">Clear</button> &nbsp;
      <button type="submit" class="btn-Success" (click)="save()" *ngIf="!update">Save</button>
      <button type="submit" class="btn-Success" (click)="updateBranch()" *ngIf="update">Update</button>
    </div>
  </div>
</div>

<p-table #allBranchTable [columns]="cols" *ngIf="allBranchResponse"  [value]="allBranchResponse.content" [lazy]="true"
  (onLazyLoad)="fetchBranchLazy($event)" [paginator]="paginator" [rows]="15" [totalRecords]=allBranchResponse.totalElements [loading]="loading"> 
    <ng-template pTemplate="header" let-columns>
      <tr style="font-size: 17px; color: azure;">
        <th style="width: 10%; text-align: center;">Branch Id</th>
        <th style="width: 15%; text-align: center;">Name</th>
        <th style="width: 50%; text-align: center;">Address</th>
        <th style="width: 10%; text-align: center;">Code</th>
        <th style="width: 15%;text-align: center;">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-branch let-i="rowIndex">
      <tr style="font-size: 15px">
        <td style="text-align: center;">{{branch.guid}}</td>
        <td style="text-align: center;">{{branch.name}}</td>
        <td>{{branch.address}}</td>
        <td style="text-align: center;">{{branch.code}}</td>
        <td style="text-align: center;">
          <span (click)="editBranch(branch)" class="fas fa fa-plus-square" style="color:#05a012; font-size: 17px; cursor:pointer"></span>
          &nbsp;&nbsp;&nbsp;<span (click)="delete(branch)" class="fa fa-times-circle" style="color:#e60a0a; font-size: 17px; cursor:pointer"></span>               
        </td>
      </tr>
    </ng-template>
</p-table>
<div *ngIf="!paginator" class ="norecord ">No Record Found </div>
